.movie .poster_path {
  height: 300px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

.movie .thumbnail {
  position: relative; }
  .movie .thumbnail .delete {
    position: absolute;
    right: 15px;
    top: 15px; }
  .movie .thumbnail .detail {
    position: absolute;
    left: 15px;
    top: 15px; }

body {
  background-color: #008cff; }

h1 {
  color: white; }

.half_size {
  width: 30%; }

.half_size img {
  width: 100%; }

.fix_top {
  top: 0px; }

#movies {
  margin-top: 32px; }
